/* CSS RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ID SELECTORS */

#landing-page {
	height: 50vh;
	background-image: url(https://images.pexels.com/photos/73873/star-clusters-rosette-nebula-star-galaxies-73873.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
	background-size: cover;
	background-repeat: no repeat;
	/* display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #6DCCDE;
	color: #fff; */
}

#icon {
	width: 30px;
	height: 30px;
}